html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Ubunutu', sans-serif;
    font-size: 1.15rem;
    background: #fafafa;
}

.login {
    margin: 150px 500px;
}

.login .card .card-header {
    text-align: center;
}

.checkbox {
    font-size: 0.95rem;
}

@media (max-width: 600px) {
    .login {
        margin: 50px 50px;
    }
}

/* Home HTML */
.content {
    margin: 20px;
}

.content .row .card img {
    height: 480px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}